{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% if object_list %}
                        {% for phone in object_list %}
                            <div class="col-md-4">
                                <h2 class="home-phone-title">
                                    <a href="{% url 'phone_detail' phone.slug %}" {% if phone.model|length > 10 %} style="font-size: 28px;" {% endif %} class="phone-title-a">{{ phone.manufacturer }} {{ phone.model }}</a>
                                </h2>
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="{{ phone.image.url }}" alt="{{ phone.manufacturer }} {{ phone.model }}" width=300 height="391">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <p>Дисплей {{ phone.diag_display }}", {{ phone.type_display }}</p>
                                            <p>Процессор {{ phone.proc }}</p>
                                            <p>Объем оперативной памяти {{ phone.ram }}</p>
                                            <p>Объем встроенной памяти {{ phone.rom }}</p>
                                            <p class="phone-price">{{ phone.price }} ₽</p>
                                            <p class="text-in-stock">В наличии {{ phone.count }}</p>
                                        </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}